div > p {
	background-color: aqua;
}

div + p {
	background-color: yellow;
}

div ~ p {
	background-color: red;
}

a:active {
	background-color: green;
}

@keyframes example {
	from {background-color: red;}
	to {background-color: yellow;}
}


